<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learn Java With Dileep</title>
  <link rel="stylesheet" href="assets/css/about.css">
</head>
<body>
<h1>About Me</h1>
<div class="image-container">
  <img src="assets/images/me.jpg" alt="Dileep" style="width:100%">
</div>
<div class="about-section">
  <p>My name is Dileep Kumar Behera.</p>
  <p>I am a Software Engineer</p>
  <p>I have experience of more 3 years in IT industry</p>
  <p>I created this Web Application for those candidates who want to learn Java and Springboot</p>
  <p>For any query you can conatct me at dileep.behera@outlook.com</p>
</div>
</body>
</html>
