<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Learn Java With Dileep</title>
  <link rel="stylesheet" href="assets/css/css-starter.css">
 <!-- <link rel="stylesheet" th:href="@{/css/styles.css}">-->
</head>
<body>
<header>
  <h1>Let's Explore Java 8</h1>
  <nav>
    <a href="#home" style="color: white; margin: 0 10px;">Home</a>
    <a href="#about" style="color: white; margin: 0 10px;">About</a>
    <a href="#contact" style="color: white; margin: 0 10px;">Contact</a>
  </nav>
</header>
<footer>
  <p>&copy; 2024 Developed By Dileep Kumar Behera. </br>
    All rights reserved.</p>
</footer>
</body>
</html>
