html, body {
    height: 100%; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes default margin */
}
body {
    background-image: url('../images/laptop.jpg');
     background-size: cover; /* Ensures the image covers the entire background */
     background-repeat: no-repeat; /* Prevents the image from repeating */
     background-position: center; /* Centers the image */
}


 header {
            background-color: transparent;
            color: white;
            text-align: center;
            padding: 1rem;
  }
  footer {
      background-color: transparent; /* Light grey background */
      text-align: center;       /* Center align the text */
      padding: 10px 0;          /* Add some padding for spacing */
      position: fixed;          /* Keep the footer at the bottom of the viewport */
      width: 100%;              /* Ensure it spans the full width */
      bottom: 0;                /* Position it at the very bottom */
      color: white;
  }