<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h1, h2 {
            color: #333;
        }

        p {
            margin-bottom: 16px;
        }
    </style>
</head>

<body>

    <h1>About Me</h1>

    <!-- <img th:src="@{my.jpg}" alt="Dileep Kumar Behera"> -->

    <p>
        Hello! My name is Dileep Kumar Behera. br
        Professionally I am a Software Engineer.
    </p>

    <h2>Education</h2>
    <p>
        I am a MCA graduate. I completed my MCA in 2021 from Gandhi Institute for Technology, Bhubaneshwar.
    </p>

    <h2>Professional Experience</h2>
    <p>
        Over the years, I have gained experience in Java and Springboot
    </p>

    <h2>Interests</h2>
    <p>
        Apart from my professional life, I have a keen interest in Cricket. 
    </p>

    <h2>Contact</h2>
    <p>
        Feel free to get in touch with me at dileep.behera@outlook.com. <br>
        You can also connect with me on <a href="https://www.linkedin.com/in/dileep-kumar-behera-aa5a4919b/">Linkedin</a>
            
    </p>
	<a href="javascript: history.go(-1)">Go Back</a>
</body>

</html>
