<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h1, h2 {
            color: #333;
        }

        p {
            margin-bottom: 16px;
        }
    </style>
</head>

<body>

    <h1>Contact Me</h1>

    <h2>Email:</h2>
    <p>dileep.behera@outlook.com</p>

    <h2>Phone:</h2>
    <p>+917653082792</p>

    <h2>Address:</h2>
    <p>Bhubaneshwar, India</p>
	<a href="javascript: history.go(-1)">Go Back</a>
</body>

</html>
